@()(implicit request: RequestHeader)

@main("Login") {

<h1>Login</h1>
<form method="post" action="@routes.TaskList1.validateLogin()">
  @helper.CSRF.formField
  Username : <input type="text" name="username" /><br><br>
  password : <input type="password" name="password" /><br><br>
  <input type="submit" name="submit" />
</form>

<h1>Sign up user</h1>
<form method="post" action="@routes.TaskList1.signup()">
  @helper.CSRF.formField
  Username : <input type="text" name="username" /><br><br>
  password : <input type="password" name="password" /><br><br>
  <input type="submit" name="submit" value="Sign UP!" />
</form>
}